@import url("bootstrap.min.css");
.navbar-brand>img {
    width: 230px;
}

.navbar {
    height: 150px;
}

.navbar-default {
    background-color: #fff;
    border-radius: 0px;
    border-color: transparent;
}

.navbar-nav {
    padding: 50px 0px;
}

.box1 {
    height: 500px;
    background-size: cover;
    padding: 0px;
    width: 100%;
    margin: 0px;
    margin: 0px 0px;
    background-image: url("../images/ss1.jpg");
    transition: .4s;
}

.box2 {
    height: 500px;
    background-image: url("../images/ss22.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: .4s;
}

.box3 {
    padding: 0px;
    margin: 0px;
    height: 500px;
    margin: 0px 0px;
    background-image: url("../images/ss3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}

.box1:hover {
    opacity: 0.5;
}

.box2:hover {
    opacity: 0.5;
}

.box3:hover {
    opacity: 0.5;
}

.section {
    height: 800px;
    width: 100%;
}

.pres {
    display: inline-block;
    margin: auto;
}

.my-padding {
    padding: -3px;
}

.inner-padding {
    padding: 4%;
}

.committee ul li {
    list-style: circle !important;
}

#quote-section {
    background-image: url("../images/ugandafarm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Satisfy', cursive;
}

#quote {
    text-align: center;
    /*    rgba color . last channel is the opacity from 0 to 1*/
    background-color: rgba(209, 253, 249, 0.4);
    font-size: 2.4em;
    color: black;
    padding: 18px;
    border-radius: 8px;
}

.position {
    text-align: left;
    color: #666666;
    font-size: 1.5em;
    border-bottom: 2px solid #D1FDF9;
    padding-bottom: 3px;
    margin-bottom: 10px !important;
}

#network-h3 {
    text-align: center;
    transition-duration: 8s;
}

.center {
    width: 80%;
    margin: 0 auto;
}

.margin-top {
    margin-top: 10px;
}

.founder-pic {
    border-radius: 100%;
}

.network-pic {
    float: left;
    padding: 15px;
    border-radius: 20px;
    transition: 1.5s;
    transition: width 2s;
}

.network-pic:hover {
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.5;
}

.backgroundimage {
    background-image: url("../images/girlinclass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px;
    text-align: center;
    width: 100%;
    float: left;
}

body {
    width: 100%;
}

.backgroundimage h1 {
    font-family: helvetica;
    color: aliceblue;
}

.row {
    width: 100%;
}

html {
    background-color: transparent;
}

.headerimages .col-md-4 {
    padding: 0px;
    margin: 0px;
    background-color: lightgrey;
    padding-bottom: 30px;
    height: 500px;
}

.midimages .col-md-4 {
    padding-top: 50px;
    float: left;
}

.midimages {
    float: left;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 50px;
}

.column1 {
    width: 100%;
    background-color: white;
    height: 300px;
    float: left;
}

#service {
    width: 100%;
    background-color: #d53f51;
    height: 60px;
    font-size: 30px;
    padding: 13px;
}

.service-content {
    text-align: center;
}

#MISSION {
    width: 100%;
    background-color: #d53f51;
    height: 60px;
    font-size: 30px;
    padding: 13px;
    margin: 0px;
}

#vision {
    width: 100%;
    background-color: #d53f51;
    height: 60px;
    font-size: 30px;
    padding: 13px;
    margin: 0px;
}

.column1 p {
    text-align: center;
}


}
.column-2 {
    width: 100%;
    height: 300px;
    background-color: white;
    float: left;
}
h5 {
    text-align: center;
}
.column3 {
    width: 100%;
    background-color: #d6d6d6;
    height: 300px;
    float: left;
    background-image: url("../images/femmes-ciblees-en.jpg");
    background-repeat: no-repeat;
    padding-left: 50px;
}
.backgroundimage h1 {
    padding: 15px;
}
.halfwidth {
    width: 50%;
    float: left;
}
.row-footer {
    width: 100%;
}
h3 {
    text-align: center;
    font-size: 50px;
    padding-left: 60px;
}

}
.volunteerbox {
    word-spacing: 2px;
    text-align: justify;
}
.volunteerbox form {
    text-align: justify;
}
.volunteerbox h5 {
    text-align: center;
}
.volunteerbox h3 {
    text-align: justify;
}
.newsletters {
    float: left;
}
.headerau h3 {
    text-align: center;
}
.headerau p {
    text-align: center;
}
.comm {
    text-align: center;
}
.pres {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.pres img {
    display: inline-block;
}
#content2 {
    width: 100%;
}
#header5 {
    width: 100%;
}
#content5 {
    width: 100%;
}
section h4 {
    text-align: center;
}
<<<<<<< HEAD

}
=======
>>>>>>> 08bc46a3fba01cd2414321df7f9e32a880992dc9
#contact {
    width: 100%;
    font-weight: 14px;
    display: inline;
    text-align: justify;
    float: left;
    word-spacing: 2px;
    position: relative;
    top: 19px;
}
.form h2 {
    color: #0392F2;
    text-align: center;
<<<<<<< HEAD
}

}
=======
>>>>>>> 08bc46a3fba01cd2414321df7f9e32a880992dc9
.col-md-12 h3 {
    color: #D43F52;
}
.row-events {
    padding-top: 70px;
}
#content6 h3 {
    text-align: center;
    font-weight: 12px;
}
.part {
    text-align: justify;
    word-spacing: 4px;
}

}
#pic4 {
    width: 25%;
    height: 25%;
    margin-top: 0px;
    box-shadow: 1px 1px 2px #9E9E9E;
}
ul,
li {
    padding:0;
    margin:0;
}
li {
    list-style-type:none;
}
footer {
    background-color:;
    min-height:400px;
    font-family: 'Open Sans',
    sans-serif;
}
.footer-col {
    margin-top:50px;
}
.foot-ul {
    color: white;
}
.logofooter {
    margin-bottom:10px;
    font-size:25px;
    color:#fff;
    font-weight:700;
}
.footer-col p {
    color:#fff;
    font-size:12px;
    font-family: 'Open Sans',
    sans-serif;
    margin-bottom:15px;
}
.footer-col p i {
    width:20px;
    color:#D43F52;
}
.footer-ul {
    list-style-type:none;
    padding-left:0;
    margin-left:2px;
}
.footer-ul li {
    line-height:29px;
    font-size:12px;
}
.footer-ul li a {
    color:#a0a3a4;
    transition: color 0.2s linear 0s,
    background 0.2s linear 0s;
}
.footer-ul i {
    margin-right:10px;
}
.footer-ul li a:hover {
    transition: color 0.2s linear 0s,
    background 0.2s linear 0s;
    color:#ff670f;
}
.copyright {
    min-height:40px;
    background-color:#000000;
}
.copyright p {
    text-align:left;
    color:#FFF;
    padding:10px 0;
    margin-bottom:0;
}
.heading7 {
    font-size:21px;
    font-weight:700;
    color:#d9d6d6;
    margin-bottom:22px;
}
.post p {
    font-size:12px;
    color:#FFF;
    line-height:20px;
}
.post p span {
    display:block;
    color:#8f8f8f;
}
.bottom_ul {
    list-style-type:none;
    float:right;
    margin-bottom:0;
}
.bottom_ul li {
    float:left;
    line-height:40px;
}
.bottom_ul li:after {
    content:"/";
    color:#FFF;
    margin-right:8px;
    margin-left:8px;
}
.bottom_ul li a {
    color:#FFF;
    font-size:12px;
}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
.footer-social li {
    float:left;
}
.facebook {
    background-color:#3b5998;
}
.twitter {
    background-color:#1da1f2;
}
.google {
    background-color:#f63e28;
}
