@import url("bootstrap.min.css");

/*.container {
    width: 100%;
    margin: 0px;
    padding: 0px;*
}*/

.navbar-brand>img {
    width: 230px;
}

.navbar {
    height: 150px;
}

.navbar-default {
    background-color: #fff;
    border-radius: 0px;
    border-color: transparent;
}

.navbar-nav {
    padding: 50px 0px;
}

.box1 {
    /*    float: left;*/
    /*    width: 400px;*/
    height: 450px;
    /*    padding-bottom: 25px;*/
    /*    margin-bottom: auto;*/
    background-size: cover;
    padding: 0px;
    width: 100%;
    margin: 0px;
    margin: 25px 0px;
    background-image: url("../images/onionwoman.jpg");
    transition: .4s;
}

.box2 {
    /*
    float: left;
    width: 400px;
*/
    height: 500px;
    background-image: url("../images/african-beauty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.box3 {
    /*    float: left;*/
    /*    width: 400px;*/
    padding: 0px;
    margin: 0px;
    height: 450px;
    margin: 25px 0px;
    background-image: url("../images/women-poverty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box1:hover {
    opacity: 0.5;
}

.section {
    height: 800px;
    width: 100%;
}

.sectionau {
    text-align: center;
}

.pres {
    display: inline-block;
    margin: auto;
}


/*.sectionau1{
    float: left;
}

.sectionau2{
    float: right;
}

.sectionau3{
    float:right;
}*/

.backgroundimage {
    background-image: url("../images/girlinclass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px;
    text-align: center;
    width: 100%;
    float: left;
}

.backgroundimage h1 {
    font-family: helvetica;
    color: aliceblue;
}

.row {
    width: 100%;
}

.headerimages .col-md-4 {
    padding: 0px;
    margin: 0px;
    background-color: black;
    padding-bottom: 30px;
    height: 500px;
}

.midimages .col-md-4 {
    padding-top: 50px;
    float: left;
}

.midimages {
    float: left;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 50px;
}

.column1 {
    width: 100%;
    background-color: #0392F2;
    height: 300px;
    float: left;
}

#service {
    width: 100%;
    background-color: red;
    height: 60px;
    font-size: 30px;
    padding: 13px;
}

#MISSION {
    width: 100%;
    background-color: aquamarine;
    height: 60px;
    font-size: 30px;
    padding: 13px;
    margin: 0px;
}

#vision {
    width: 100%;
    background-color: beige;
    height: 60px;
    font-size: 30px;
    padding: 13px;
    margin: 0px;
}

.column1 p {
    text-align: center;
}


}
.column-2 {
    width: 100%;
    height: 300px;
    background-color: white;
    float: left;
}
h5 {
    text-align: center;
}

/*
.column-2 p {
    font-family: helvetica;
    text-align: center;
    padding: 10px;
}
*/
.column3 {
    width: 100%;
    background-color: #d6d6d6;
    height: 300px;
    float: left;
    background-image: url("../images/femmes-ciblees-en.jpg");
    background-repeat: no-repeat;
    padding-left: 50px;
}
.backgroundimage h1 {
    padding: 15px;
}
.footer {
    background-color: #D43F52;
    width: 100%;
    float: left;
    padding: 30px 0px;
}
.footerad {
    /*background-image: url("../images/worldwide.jpg");*/
    
    background-repeat: no-repeat;
    background-size: cover;
}
h3 {
    text-align: center;
    font-size: 50px;
    padding-left: 60px;
}
.footerform {
    width: 100%;
    background-color: #D43F52;
    float: left;
    padding-top: 20px;
}
.footerform h5 {
    text-align: center;
}
.footermedia {
    background-color: red;
}
.footermedia li {
    padding: 30px;
    margin-right: 20px;
}
.summ h3 {
    text-align: center;
}
.volunteerbox {
    word-spacing: 2px;
    text-align: center;
}
.volunteerbox h3 {
    text-align: center;
}
.newsletters {
    float: right;
}
.headerau h3 {
    text-align: center;
}
.headerau p {
    text-align: center;
}
.proj {
    text-align: center;
}
.comm {
    text-align: center;
}
.pres {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.pres img {
    display: inline-block;
}
#content2 {
    width: 100%;
}
#up1 {
    width: 35%;
    height: 90%;
    float: left;
}
#top1 {
    width: 35%;
    height: 50%;
}
#eventpic1 {
    width: 30%;
    height: 40%;
    float: left;
}
#up2 {
    width: 35%;
    height: 90%;
    float: right;
    margin-right: 50%;
}
#top2 {
    width: 35%;
    height: 50%;
}
#eventpic2 {
    width: 30%;
    height: 40%;
    float: left;
}
#lat1 {
    width: 35%;
    height: 90%;
    float: left;
    margin-left: 50%;
}
#top3 {
    width: 35%;
    height: 50%;
}
#eventpic3 {
    width: 30%;
    height: 40%;
    float: left;
}
#lat2 {
    width: 35%;
    height: 90%;
    float: right;
    margin-left: 50%;
}
#top4 {
    width: 35%;
    height: 50%;
}
#eventpic4 {
    width: 30%;
    height: 40%;
    float: left;
}
#pas1 {
    width: 35%;
    height: 90%;
    float: middle;
    margin-left: 50%;
}
#top5 {
    width: 35%;
    height: 50%;
}
#eventpic5 {
    width: 30%;
    height: 40%;
    float: left;
}

}
#header5 {
    width: 100%;
}
#content5 {
    width: 100%;
}
#content6 {
    width: 100%;
    display: inline;
    text-align: center;
    word-spacing: 2px;
}
#content6 h3 {
    text-align: center;
    font-weight: 12px;
}
.part {
    display: inline-grid;
    text-align: center;
}
.part p {
    text-align: left;
}
.part h3 {
    text-align: center;
    font-weight: 12px;
}
#stor1 {
    width: 50%;
    height: 50%;
    background-color: blue;
    float: left;
}
#pic1 {
    width: 25%;
    height: 25%;
    margin-top: 0px;
}
#stor2 {
    width: 50%;
    height: 50%;
    background-color: orange;
    float: right;
}

}
#pic2 {
    width: 25%;
    height: 25%;
    margin-top: 0px;
}
#stor3 {
    width: 50%;
    height: 50%;
    background-color: red;
    float: left;
}

}
#pic3 {
    width: 25%;
    height: 25%;
    margin-top: 0px;
}
#stor4 {
    width: 50%;
    height: 50%;
    background-color: green;
    float: right;
}

}
#pic4 {
    width: 25%;
    height: 25%;
    margin-top: 0px;
    box-shadow: 1px 1px 2px #9E9E9E;
}
.form {
    display: inline-block;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
}

}
#sitemap p {
    text-align: center;
}

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);*/
ul,
li {
    padding:0;
    margin:0;
}
li {
    list-style-type:none;
}
footer {
    background-color:#D43F52;
    min-height:350px;
    font-family: 'Open Sans',
    sans-serif;
}
.footer-col {
    margin-top:50px;
}
.logofooter {
    margin-bottom:10px;
    font-size:25px;
    color:#fff;
    font-weight:700;
}
.footer-col p {
    color:#fff;
    font-size:12px;
    font-family: 'Open Sans',
    sans-serif;
    margin-bottom:15px;
}
.footer-col p i {
    width:20px;
    color:#D43F52;
}
.footer-ul {
    list-style-type:none;
    padding-left:0;
    margin-left:2px;
}
.footer-ul li {
    line-height:29px;
    font-size:12px;
}
.footer-ul li a {
    color:#a0a3a4;
    transition: color 0.2s linear 0s,
    background 0.2s linear 0s;
}
.footer-ul i {
    margin-right:10px;
}
.footer-ul li a:hover {
    transition: color 0.2s linear 0s,
    background 0.2s linear 0s;
    color:#ff670f;
}
.copyright {
    min-height:40px;
    background-color:#000000;
}
.copyright p {
    text-align:left;
    color:#FFF;
    padding:10px 0;
    margin-bottom:0;
}
.heading7 {
    font-size:21px;
    font-weight:700;
    color:#d9d6d6;
    margin-bottom:22px;
}
.post p {
    font-size:12px;
    color:#FFF;
    line-height:20px;
}
.post p span {
    display:block;
    color:#8f8f8f;
}
.bottom_ul {
    list-style-type:none;
    float:right;
    margin-bottom:0;
}
.bottom_ul li {
    float:left;
    line-height:40px;
}
.bottom_ul li:after {
    content:"/";
    color:#FFF;
    margin-right:8px;
    margin-left:8px;
}
.bottom_ul li a {
    color:#FFF;
    font-size:12px;
}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
.footer-social li {
    float:left;
}
.linked-in {
    background-color:#007bb6;
}
.facebook {
    background-color:#3b5998;
}
.twitter {
    background-color:#1da1f2;
}
.google {
    background-color:#f63e28;
}
