.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#logo {
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 700px;
    padding-bottom: 10px;
}

.navbar {
    height: 60%;
    width: 100%;
}

.header {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-family: fantasy;
}

ul li {
    display: inline-block;
}

.box1 {
    background-color: aqua;
    float: left;
    width: 20%;
    height: 500px;
}

.box2 {
    background-color: teal;
    float: left;
    width: 20%;
    height: 450px;
    margin-top: 50px;
}

.box3 {
    background-color: aquamarine;
    float: left;
    width: 20%;
    height: 400px;
    margin-top: 100px;
}

.box4 {
    background-color: beige;
    float: left;
    width: 20%;
    height: 350px;
    margin-top: 150px;
}

.box5 {
    background-color: purple;
    float: right;
    width: 20%;
    height: 300px;
    margin-top: 200px;
}

.section {
    height: 800px;
    width: 100%;
}

.row {
    height: 800px;
    width: 100%;
}

.column1 {
    height: 300px;
    width: 33.3%;
    float: left;
}

.row1 {
    background-color: indianred;
    height: 200px;
}

.row2 {
    background-color: crimson;
    height: 100px;
}

.column2 {
    height: 300px;
    width: 33.3%;
    float: left;
}

.row3 {
    background-color: skyblue;
    height: 150px;
    height: 100px;
}

.row4 {
    background-color: deepskyblue;
    height: 200px;
}

.column3 {
    height: 300px;
    width: 33.3%;
    float: left;
}

.row5 {
    background-color: cadetblue;
    height: 70px;
}

.row6 {
    background-color: blue;
    height: 230px;
}

.footer {
    background-color: yellow;
    height: 250px;
    width: 70%;
    clear: both;
    float: left;
}

.footer h3 {
    text-align: center;
    font-weight: 14px;
    font-family: Castellar;
    color: blue;
}

.footer h4 {
    text-align: center;
    font-weight: 14px;
    font-family: Castellar;
    color: red;
}

.footer p {
    color: red;
    text-align: center;
    =======height: 200px;
    width: 100%;
    clear: both;
    float: right;
}

.boxfoot {
    background-color: deeppink;
    height: 250px;
    width: 30%;
    float: right;
}

.boxfoot form {
    text-align: center;
}

.boxfoot h3 {
    text-align: center;
    font-weight: 14px;
    font-family: Castellar;
    color: blue;
}

#header2 {
    width: 100%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-family: fantasy;
}

#content2 {
    width: 100%;
    background-color: yellow;
}

#up1 {
    width: 35%;
    height: 90%;
    background-color: orange;
    float: left;
}

#top1 {
    width: 35%;
    height: 50% background-color:black;
}

#eventpic1 {
    width: 30%;
    height: 40%;
    background-color: blue;
    float: left;
}

#up2 {
    width: 35%;
    height: 90%;
    background-color: blue;
    float: right;
    margin-right: 50%;
}

#top2 {
    width: 35%;
    height: 50% background-color:black;
}

#eventpic2 {
    width: 30%;
    height: 40%;
    background-color: orange;
    float: left;
}

#lat1 {
    width: 35%;
    height: 90%;
    background-color: blue;
    float: left;
    margin-left: 50%;
}

#top3 {
    width: 35%;
    height: 50% background-color:black;
}

#eventpic3 {
    width: 30%;
    height: 40%;
    background-color: orange;
    float: left;
}

#lat2 {
    width: 35%;
    height: 90%;
    background-color: blue;
    float: right;
    margin-left: 50%;
}

#top4 {
    width: 35%;
    height: 50% background-color:black;
}

#eventpic4 {
    width: 30%;
    height: 40%;
    background-color: orange;
    float: left;
}

#pas1 {
    width: 35%;
    height: 90%;
    background-color: blue;
    float: middle;
    margin-left: 50%;
}

#top5 {
    width: 35%;
    height: 50% background-color:black;
}

#eventpic5 {
    width: 30%;
    height: 40%;
    background-color: orange;
    float: left;
}


}
#footer2 {
    width: 100%;
    background-color: green;
}
#header5 {
    width: 100%;
    background-color: red;
}
#content5 {
    width: 100%;
    background-color: yellow;
}

}
#footer5 {
    width: 100%;
    background-color: green;
}
#header6 {
    width: 100%;
    background-color: red;
}
#content6 {
    width: 100%;
    background-color: yellow;
}
#stor1 {
    width: 50%;
    height: 50%;
    background-color: blue;
    float: left;
}
#pic1 {
    width: 25%;
    height: 25%;
    margin-top: 0px;
}
#stor2 {
    width: 50%;
    height: 50%;
    background-color: orange;
    float: right;
}

}
#pic2 {
    width: 25%;
    height: 25%;
    margin-top: 0px;
}
#stor3 {
    width: 50%;
    height: 50%;
    background-color: red;
    float: left;
}

}
#pic3 {
    width: 25%;
    height: 25%;
    margin-top: 0px;
}
#stor4 {
    width: 50%;
    height: 50%;
    background-color: green;
    float: right;
}

}
#pic4 {
    width: 25%;
    height: 25%;
    margin-top: 0px;
    box-shadow: 1px 1px 2px #9E9E9E
}
#sitemap {
    width: 100%;
    background-color: blue;
}
#footer6 {
    width: 100%;
    background-color: green;
}
