.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#logo {
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 700px;
    padding-bottom: 10px;
}

.navbar {
    height: 60%;
    width: 100%;
}

.header {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-family: fantasy;
}

ul li {
    display: inline-block;
}

.box1 {
    background-color: aqua;
    float: left;
    width: 20%;
    height: 500px;
}

.box2 {
    background-color: teal;
    float: left;
    width: 20%;
    height: 450px;
    margin-top: 50px;
}

.box3 {
    background-color: aquamarine;
    float: left;
    width: 20%;
    height: 400px;
    margin-top: 100px;
}

.box4 {
    background-color: beige;
    float: left;
    width: 20%;
    height: 350px;
    margin-top: 150px;
}

.box5 {
    background-color: purple;
    float: right;
    width: 20%;
    height: 300px;
    margin-top: 200px;
}

.section {
    height: 800px;
    width: 100%;
}

.row {
    height: 800px;
    width: 100%;
}

.column1 {
    height: 300px;
    width: 33.3%;
    float: left;
}

.row1 {
    background-color: indianred;
    height: 200px;
}

.row2 {
    background-color: crimson;
    height: 100px;
}

.column2 {
    height: 300px;
    width: 33.3%;
    float: left;
}

.row3 {
    background-color: skyblue;
    height: 100px;
}

.row4 {
    background-color: deepskyblue;
    height: 200px;
}

.column3 {
    height: 300px;
    width: 33.3%;
    float: left;
}

.row5 {
    background-color: cadetblue;
    height: 70px;
}

.row6 {
    background-color: blue;
    height: 230px;
}

.footer {
    background-color: yellow;
    height: 200px;
    width: 100%;
    clear: both;
    float: right;
}

.boxfoot {
    background-color: deeppink;
    height: 200px;
    width: 30%;
    float: right;
}
